@import "lib/normalize.scss";
@import "lib/skeleton.scss";

header {
	margin-top: 30px;
	text-align: center;
}

.items {
	list-style-type: none;

	li {
		padding: 5px 20px;

		font-size: 1.5em;

		border: 1px lightgray solid;
		border-radius: 5px;
	}
}

td {
	padding-bottom: 0;
	border-bottom: 0;
}

.in-field {
	position: absolute;

	margin-left: 6px;
	margin-top: 8px;

	font-size: 15.5px;

	& + input {
		padding-left: 1em;
	}
}
